.header{
  background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
  color:white;
  letter-spacing: 0.2rem;
}

.header h2{
  font-size: x-large;
  font-family: system-ui;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0px;
  
}
  
.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
  letter-spacing: 0.1rem;
}


.form_div{
  background-color:#fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid{
  background-image: url('https://images.unsplash.com/photo-1542402972-2d8a2c7df5a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');

  width:100%;
  clear:both;
  min-height: 650px;;

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


.form-group{
  position: relative;
}

.form-group i{
position:absolute;
right: 5%;
top: 44px;
visibility: hidden;
}

.form-group input:focus {
	outline: 0;
	border-color: #777;
}

.form-group.success input {
	border-color: #2ecc71;
}

.form-group.error input {
	border-color: #e74c3c;
}

.form-group.success i.fa-check-circle{
  color: #00ff15;
  visibility: visible !important;
  font-size: 18px;
}

.form-group.error i.fa-exclamation{
  color: #f35145;
  visibility: visible !important;
}



